/* Navbar style */
.navbar {
    padding: 24px 12px;
}

.logo {
    font-weight: 700;
    font-size: 32px;
    color: var(--clr-section-heading);
}

.signIn-btn {
    border-radius: 8px;
    border: 1px solid var(--clr-primary);
    padding: 15px 30px;
    color: var(--clr-primary);
    font-weight: 600;
    font-size: 18px;
}

/* Hero section style */
.hero {
    border-radius: 24px;
    padding: 80px 100px;
    gap: 64px;
    margin-top: 30px;
    background-color: var(--clr-green-bg);
}

.hero-content {
    width: 60%;
    gap: 24px;
}

.hero-content p {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--clr-text);
}

.hero-content h1 {
    font-weight: 700;
    font-size: 3.5rem;
    max-width: 650px;
    color: var(--clr-section-heading);
}

.hero-img {
    width: 40%;
}

/* Pillars section style */
.pillar-cards {
    margin-top: 32px;
}

.pillar-card {
    border-radius: 16px;
    background-color: var(--clr-white);
    padding: 24px;
    gap: 24px;
}

.pillar-card img {
    width: 64px;
    height: 64px;
}

.pillar-card h3 {
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 12px;
    color: var(--clr-card-title);
}

/* Future vision section style */
.vision h2 {
    margin-bottom: 24px;
}

.vision-cards {
    padding: 32px 0;
}

.vision-card {
    gap: 24px;
    border-radius: 16px;
    padding: 32px;
}

.vision-card img {
    width: 64px;
    height: 64px;
}

.vision-card h3 {
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 12px;
    color: var(--clr-card-title);
}

.vision-btn {
    border-radius: 8px;
    padding: 11px 20px;
    font-weight: 600;
    color: var(--clr-white);
}
.quote{
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top 30px left 25px;
    border-radius: 16px;
    padding: 48px 24px;
    background-color: var(--clr-white);
}
.quote h3{
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--clr-card-title);
    margin-top: 12px;
    margin-bottom: 4px;
}